<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://raw.githubusercontent.com/euijae/nyu_diet_vision/main/static/images/nyu_logo.png" rel="shortcut icon" type="image/x-icon">

        <title>DietVision</title>
        <meta name="title" content="DietVision 2023">
        <meta name="description" content="DietVision project">
    </head>
    <body>
        <main>
            <h1 class="ui violet huge header">NYU DietVision Version 1.0</h1>
            <div class="ui divider"></div>
            <br>
            <div class="flex">
                <div class="left">
                    <!-- <h2>Food Image</h2> -->
                    <div class="ui green compact message" id="introMessage">
                        <div class="header">
                          Please upload your image. 2592 x 1936 size is recommended
                        </div>
                      </div>
                    <canvas id="canvas"></canvas>
                    <div style="margin-top: 20px;">
                        <button id="saveImage" class="ui primary button">Upload</button>
                        <button id="clear" class="ui secondary button">Clear</button>
                    </div>
                </div>
                <div class="right">
                    <input id="fileContainer" type="file" name="uploaded_file" style="visibility: hidden;position: absolute;top:0;">
                    <div class="ui center aligned basic segment">
                        <div class="ui search" style="float: left;">
                            <div class="ui icon input disabled" id="searchFoodClassInput">
                                <input class="prompt" id="myFoodClassInput" type="text" placeholder="Search food...">
                                <i class="search icon"></i>
                            </div>
                            <button class="ui button disabled" id="submitFoodClassInput">
                                Submit
                            </button>
                            <div class="results"></div>
                        </div>
                        <br><br><br>
                        <table class="ui selectable celled table">
                            <thead>
                                <tr>
                                    <th>Food</th>
                                    <th>Area</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody1">
                                <tr>
                                    <td colspan="2">No Image is Found</td>
                                </tr>
                            </tbody>
                            <tbody id="tableBody2" style="display: none">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- spinner -->
            <div id="cover-spin"></div>

            <!-- footer -->
            <br><br>
            <footer>
                <p>Made with ❤️ by Prof. <a href="https://cs.nyu.edu/~shasha/" target="_blank">Dennis Shasha</a>'s Research Group at <a href="https://nyu.edu/" target="_blank">New York University</a> </p>
            </footer>
        </main>

        <!-- css stylesheets -->
        <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

        <!-- JavaScript library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <script src="{{ url_for('static', path='/js/usdaFoods.js') }}"></script>
        <script src="{{ url_for('static', path='/js/script.js') }}"></script>
    </body>
</html>
