<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="http://raw.githubusercontent.com/euijae/nyu_diet_vision/week10/static/images/nyu_logo.png" rel="shortcut icon" type="image/x-icon">

        <title>DietVision</title>
        <meta name="title" content="DietVision 2023">
        <meta name="description" content="DietVision project">
    </head>
    <body>
        <main>
            <h1 class="ui violet huge header">NYU DietVision Version 1.0</h1>
            <div class="ui divider"></div>
            <br><br><br>
            <div class="flex">
                <div class="left">
                    <!-- <h2>Food Image</h2> -->
                    <canvas id="canvas"></canvas>
                    <div style="margin-top: 20px;">
                        <button id="saveImage" class="ui primary button">Upload</button>
                        <button id="clear" class="ui secondary button">Clear</button>
                        <!-- <p class="show_normalized" id="coords" style="display: none;">x: <span id="x"></span> | y: <span id="y"></span></p> -->
                    </div>
                </div>
                <div class="right">
                    <!-- <h2>Food Data</h2> -->
                    <div class="ui segment">
                        <div class="ui buttons">
                            <button class="ui button" id="selectFoodClass">Select Food</button>
                            <div class="or"></div>
                            <button class="ui button" id="modifyFoodClass">Modfiy Food Class</button>
                        </div>
                    </div>

                    <div class="ui center aligned basic segment">
                        <br>
                        <div class="ui search" style="float: left;">
                            <div class="ui icon input disabled" id="searchFoodClassInput">
                                <input class="prompt" id="myFoodClassInput" type="text" placeholder="Search food...">
                                <i class="search icon"></i>
                            </div>
                            <button id="submitFoodClassInput" class="ui button disabled">
                                Submit
                            </button>
                            <div class="results"></div>
                        </div>
                        <br><br><br>
                        <div class="ui horizontal divider">
                          Or
                        </div>
                        <br>
                        <table class="ui selectable celled table">
                            <thead>
                                <tr>
                                    <th>Food</th>
                                    <th>Volume</th>
                                    <th>Calories</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody1">
                                <tr>
                                    <td colspan="3">No Image is Found</td>
                                </tr>
                            </tbody>
                            <tbody id="tableBody2" style="display: none">
                                <tr>
                                    <td colspan="3">Modfiying is in progress ...</td>
                                </tr>
                            </tbody>
                            <tbody id="tableBody3" style="display: none">
                                
                            </tbody>
                        </table>
                    </div>


                    
                    
                    <!-- <pre id="python">
                        <code>
                        </code>
                    </pre> -->
                    <!-- <a href="" id="updateFoodClass" class="widgetButton">Update Fodd</a>
                    <a href="" id="switchButton" class="widgetButton">Group On/Off</a>
                    <a href="" id="clipboard" class="widgetButton">Copy My Food Data to Clipboard</a> -->
                </div>
            </div>

            <!-- old code - legacy -->
            <div class="show_normalized" style="margin-bottom: 25px; display:none">
                <label for="normalize_checkbox">Show Normalized Points from 0-1</label>
                <input type="checkbox" id="normalize_checkbox" name="normalize_checkbox" value="normalize_checkbox">
            </div>

            <!-- spinner -->
            <div id="cover-spin"></div>

            <!-- footer -->
            <br><br><br>
            <footer>
                <p>Made with ❤️ by Prof. <a href="https://cs.nyu.edu/~shasha/" target="_blank">Dennis Shasha</a>'s Research Group at <a href="https://nyu.edu/" target="_blank">New York University</a> </p>
            </footer>
        </main>

        <!-- css stylesheets -->
        <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
        <!-- JavaScript library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <script src="{{ url_for('static', path='/js/ontology.js') }}"></script>
        <script src="{{ url_for('static', path='/js/script.js') }}"></script>
    </body>
</html>
